<button><a href={% url 'task_create' %}>Create Task</a></button>
<button><a href={% url 'category_create' %}>Add Category</a></button>
<div>
    <ul>
        <li><a href="{% url 'task_list' %}">All</a></li>
        {% for category in categories %}
            <li><a href="{% url 'task_list' %}?category={{ category }}">{{ category }}</a></li>
        {% endfor %}
    </ul>
</div>
<div>
    <ul>
    <h3>OVERDUE</h3>
    {% for task in overdue_tasks %}
        <li><a href={% url 'task_detail' task.id %}>{{ task }}</a>
            <button>
                <a href={% url 'task_delete' task.id %}>finished</a>
            </button>
        </li>
    {% empty %}
        <li>No tasks overdue</li>
    {% endfor %}
</ul>
    <ul>
        <h3>TODAY</h3>
        {% for task in today_tasks %}
            <li><a href={% url 'task_detail' task.id %}>{{ task }}</a>
                <button>
                    <a href={% url 'task_delete' task.id %}>finished</a>
                </button>
            </li>
        {% empty %}
            <li>No tasks today</li>
        {% endfor %}
    </ul>
    <ul>
        <h3>UPCOMING</h3>
        {% for task in upcoming_tasks %}
            <li><a href={% url 'task_detail' task.id %}>{{ task }}</a>
                <button>
                    <a href={% url 'task_delete' task.id %}>finished</a>
                </button>
            </li>
        {% empty %}
            <li>No upcoming tasks</li>
        {% endfor %}
    </ul>
</div>
